/* container of button and entries */
.guestbookContainer {
  position: fixed;
  top: 180px;
  right: 30px;
  width: 300px;
  overflow-y: auto;
}
@media (max-width: 1420px) {
  .guestbookContainer {
    position: static;
    width: 100%;
    margin-top: 40px;
  }
}

/* button */
.signGuestbookButton {
  background: black;
  color: #fefefe;
  font-family: "Orbitron", sans-serif;
  border: 2px solid #ffc400;
  border-radius: 8px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  box-shadow: 0 0 8px #ffc400;
}

.signGuestbookButton:hover {
  background: #ffc400;
  color: black;
  box-shadow: 0 0 20px #ffc400;
}

/* div to display guestbook entries */

.entries {
  margin-top: 40px;
  color: white;
  font-family: inherit;
  text-align: left;
}
.entries > h3 {
  border-bottom: 2px solid white;
}
.entries ul {
  max-height: calc(100vh - 320px);
  overflow-y: scroll;
}
.entries ul::-webkit-scrollbar {
  width: 0;
  background: transparent;
}




.entry {
  border-top: 1px solid #666;
  padding: 12px 0;
}

.timestamp {
  font-size: 0.8rem;
  opacity: 0.6;
}

/* sign guestbook modal */

.guestbookModal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.guestbookModal input[type="text"],
.guestbookModal input[type="email"],
.guestbookModal textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #000;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
}

.guestbookModal button[type="submit"] {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

.guestbookModal button[type="submit"]:hover {
  background-color: #333;
}
