.purchaseForm {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 768px) {
  .purchaseForm {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
  }
}


.select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-right: 1rem;
}