@keyframes boldGlow {
  0%, 100% {
    text-shadow:
      0 0 8px #ff8c00,
      0 0 16px #ff8c00,
      0 0 32px #ff8c00,
      0 0 48px #ff8c00,
      0 0 64px #ff8c00;
  }
  50% {
    text-shadow:
      0 0 12px yellow,
      0 0 16px yellow,
      0 0 32px yellow,
      0 0 28px yellow,
      0 0 12px yellow;
  }
}

@keyframes sizeGlow {
  0%, 100% {
      transform: scale(1.02) 
  }
  50% {
      transform: scale(1) 
  }
}

.glitch {
  font-family: "Orbitron", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  color: #fff;
  letter-spacing: 1px;
  user-select: none;
  margin: -3.5rem 0 0;
  position: relative;
  z-index: 100;
  /* animate the glow */
  animation: 
    boldGlow 5.5s ease-in-out infinite alternate,
    sizeGlow 10.5s ease-in-out infinite alternate;
}

.glitch img {
  filter: drop-shadow(0 0 16px rgba(255, 185, 0, 0.6));
  margin-left: 38px;
}
